a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 16px;
}

header{
    background: rgb(23, 113, 101)
}

.header__container{
    display: flex;
    align-items: center;
    background: rgb(23, 113, 101);
}

.logo{
    width: 162px;
    height: 49px;
}

.header__list{
    margin-left: 215px;
    margin-right: 256px;
    display: flex;
    align-items: center;
    gap: 40px;
}

/* .header__item{} */

.header__silka{
    color: rgb(164, 214, 207);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.active{
    color: rgb(255, 255, 255);
}

.header__box{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__img{
    width: 44px;
    height: 44px;
}

.box_in_box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.header__text{
    color: rgb(164, 214, 207);
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
}

.phone__number{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
}

.hero{
    background: rgb(23, 113, 101);
}

.hero__container{
    display: flex;
    align-items: center;
    gap: 123px;
    position: relative;
    padding-bottom: 100px;
}

.hero__box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.hero__miniBox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__line{
    background: rgb(164, 214, 207);
    width: 40px;
    height: 1px;
}

.hero__text{
    color: rgb(164, 214, 207);
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
}

.hero__title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 78px;
}

/* .hero__silka{} */

.hero__btn{
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    width: 212px;
    height: 44px;
    color: rgb(23, 113, 101);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.hero__img{
    position: absolute;
    left: 604px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 550px;
    height: 844px;
}

.middle{
    margin-top: 215px;
}

.middle__container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.middle__top{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.box-in-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.middle__line{
    background: rgb(119, 119, 119);
    width: 40px;
    height: 1px;
}

.middle__text{
    color: rgb(119, 119, 119);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}

.middle__title{
    color: rgb(23, 113, 101);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 57px;
}

.middle__bottom{
    display: flex;
    align-items: center;
    gap: 120px;
}

.middle__img{
    width: 557px;
    height: 872px;
}

.middle__box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.middle__subtitle{
    color: rgb(23, 113, 101);
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
}

.middle__info{
    color: rgb(119, 119, 119);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.middle__text-kok{
    color: rgb(23, 113, 101);
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.middle__silka{
    margin-top: 94px;
}

.middle__btn{
    box-sizing: border-box;
    border: 2px solid rgb(23, 113, 101);
    color: rgb(23, 113, 101);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 212px;
    height: 44px;
}

.prefinish{
    margin-top: 100px;
    background: rgb(225, 244, 242);
}

.prefinish__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.prefinish__top{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.prefinish__box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.prefinish__line{
    background: rgb(119, 119, 119);
    width: 40px;
    height: 1px;
}

.prefinish__text{
    color: rgb(119, 119, 119);
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
}

.prefinish__title{
    color: rgb(23, 113, 101);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
}

.prefinish__list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.prefinish__item{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.prefinish__img{
    width: 248px;
    height: 248px;
}

.prefinish__box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.prefinish__info{
    color: rgb(119, 119, 119);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.prefinish__subtitle{
    color: rgb(23, 113, 101);
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
}

.prefinish__silka{
    margin-top: 73px;
}

.prefinish__btn{
    box-sizing: border-box;
    border: 2px solid rgb(23, 113, 101);
    color: rgb(23, 113, 101);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 212px;
    height: 44px;
    background: rgb(225, 244, 242);
}